<form action="/add_emp" method = "POST">
    <p>SSN <input type = "text" name = "SSN" /></p>
    <p>EName <input type = "integer" name = "EName" /></p>
    <p>Address <input type = "text" name = "Address" /></p>
    <p>Salary <input type = "integer" name = "Salary" /></p>
    <p>Union_No <input type = "text" name = "Union_No" /></p>
    <p>Phone_no <input type = "integer" name = "Phone_no" /></p>
    <p>ERole <input type = "text" name = "ERole" /></p>
    <p><input type = "submit" value = "Submit" /></p>
 </form>