<html>
  <link rel="stylesheet" type="text/css" href="../static/css/Emp.css"> 
<body>
  {% include 'nav.html' %}
	{% block content %}
<div class="section-center">
  		<h2 class="mb-0">Online Airport System</h2>
  	</div>
<h1 contenteditable spellcheck="false">ADD Model</h1> <br/> 
<div class = "form">
<h2 style = "color: white; text-align: center">Add Model Details</h2>
<div class="input-container ic1">
        <input id="model_no" class="input" name = "model_no" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="model_no" class="placeholder">Model Number</label>
      </div>
	 <div class="input-container ic1">
        <input id="capacity" class="input" name = "capacity"  type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="capacity" class="placeholder">Capacity</label>
      </div>
	  <div class="input-container ic1">
        <input id="weight" class="input" name = "weight" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="weight" class="placeholder">Weight</label>
      </div>
<center><a href="{{ url_for('addModel')}}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
    <a href="{{ url_for('showModel')}}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      ModelList
    </a></center>
    
	{% endblock content %}
</div>

</body>
</html>