<!doctype html>
<html>
   <body>
     <link rel="stylesheet" type="text/css" href="../static/css/Emp.css">  
     {% include 'nav.html' %}
     {% block content %}
   
      <table border = 1>
         <thead>
            <td>SSN</td>
          
         </thead>
         
         {% for row in data %}
            <tr>
               <td>{{row[0]}}</td>
        
               </tr>
         {% endfor %}
      </table>
      <br/>
      <form><a href = "{{ url_for('addTec')}}" style = "color:#ffeba7">Go back to ADD Technicians page</a></form>
      
	{% endblock content %}
   </body>
</html>