<html>
  <link rel="stylesheet" type="text/css" href="../static/css/Emp.css"> 

<body>
{% include 'nav.html' %}
{% block content %}
<div class="section-center">
  		<h2 class="mb-0">Online Airport System</h2>
  	</div>
<h1 contenteditable spellcheck="false">ADD Test details</h1> <br/> 
<div class = "form">
<div class="input-container ic1">
        <input id="faa_no" class="input" name = "faa_no" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="faa_no" class="placeholder">FAA No</label>
      </div>
	  <div class="input-container ic1">
        <input id="name" class="input" name = "tname" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="name" class="placeholder">Name</label>
      </div>
	  <div class="input-container ic1">
        <input id="score" class="input" name="max_score" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="score" class="placeholder">Score</label>
      </div>
<center><a href="{{ url_for('addTest')}}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
    <a href="{{ url_for('showTest')}}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      TestList
    </a></center>
    {% endblock content %}
</div>

</body>
</html>