<html>
    <head>
        <title>Navigation bar DEMO</title>
        <link rel="stylesheet" href="top.css">
    </head>
    <body>
        <header>
           <img src="https://cdn.create.vista.com/api/media/small/471109908/stock-vector-airport-gold-plated-metalic-icon">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
	  	<div class="section-center">
  		<h1 class="mb-0">Online Airport System</h1>
  	</div>
    </body>
</html>